<?php do_action( 'UI_BUDDY_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_BUDDY_ITEM_FILTER' , $item ); ?>
<li class="clearfix user overhide" pinyin="<?=$item['pinyin']?>" user="<?=$item['name']?>" id="uid-<?=$item['id']?>" uid="<?=$item['id']?>">
	<?php if( $_SESSION['level'] == 9 ): ?>
	<a class="close pull-right hide"  href="javascript:admin_close_user(<?=$item['id']?>);">&times;</a>
	<?php endif; ?>
	<?php do_action( 'UI_BUDDY_ITEM_AVATAR_BEFORE' , $item ); ?>
	<img src="<?=avatar($item['avatar_small'])?>" class="avatar pull-left hidden-phone"/>
	<?php do_action( 'UI_BUDDY_ITEM_AVATAR_AFTER' , $item ); ?>
 	<ul class="binfo pull-left ">
 		<li ><?=$item['name']?> 
 		<?php if( $_SESSION['level'] == 9  ): ?>	
 			<?php if( $item['level'] == 9 ): ?>
 				<i class="icon-star"></i><a href="javascript:admin_user_off(<?=$item['id']?>);void(0);" class="side_link"><?=__('SET_AS_NORMAL_MEMBER')?></a>
 			<?php else: ?>
 				<a href="javascript:admin_user_on(<?=$item['id']?>);void(0);" class="side_link"><?=__('SET_AS_ADMIN')?></a>
 			<?php endif; ?>	
 			<?php if( $item['id'] != uid() ): ?><a href="javascript:user_reset_password(<?=$item['id']?> , '<?=$item['name']?>');void(0);" class="side_link"><?=__('RESET_PASSWORD')?></a>
 			<?php endif; ?>
 			</li>
 		<?php endif; ?>	

 		<?php do_action( 'UI_BUDDY_ITEM_INFO_FIRST' , $item ); ?>
 		<?php if( strlen($item['email']) ): ?>
 			<li><i class="icon-envelope" ></i>&nbsp;<?=__('EMAIL')?> - <a href="mailto:<?=$item['email']?>" target="_blank"><?=$item['email']?></a></li>
 		<?php endif; ?>

 		
 		<?php if( strlen($item['mobile']) ): ?>
 			<li><i class="icon-phone" ></i>&nbsp;<?=__('MOBILE')?> - <a href="tel:<?=$item['mobile']?>" target="_blank"><?=$item['mobile']?></a></li>
 		<?php endif; ?>
 		

 		<?php if( strlen($item['tel']) ): ?>
 			<li><i class="icon-phone" ></i>&nbsp;<?=__('TEL')?> - <a href="tel:<?=$item['tel']?>" target="_blank"><?=$item['tel']?></a></li>
 		<?php endif; ?>
 		

 		<?php if( strlen($item['eid']) ): ?>
 			<li><i class="icon-credit-card" ></i>&nbsp;<?=__('EMPLOYEE_ID')?> - <a href="#"><?=$item['eid']?></a></li>
 		<?php endif; ?>
 		
 		<?php if( strlen($item['weibo']) ): ?>
 			<li><i class="icon-twitter" ></i>&nbsp;<?=__('WEIBO_ID')?> - <a href="<?=__('WEIBO_LINK' , u($item['weibo']))?>" target="_blank">@<?=$item['weibo']?></a></li>
 		<?php endif; ?>
 		
 		<?php if( strlen($item['desp']) ): ?>
 			<li><i class="icon-asterisk" ></i>&nbsp;<?=__('DESP_TEXT')?> - <?=nl2br($item['desp'])?></li>
 		<?php endif; ?>

 		<?php if( is_array($item['groups']) ): ?>
 			<li id="t-tags-<?=$item['id']?>"><i class="icon-tags" ></i>&nbsp;
 			<?php foreach( $item['groups'] as $group ):?>
 			<span class="label label-info"><?=$group?></span>&nbsp;
 			<?php endforeach;?>	
 			</li>
 		<?php endif; ?>

 		<?php if( is_admin() ): ?>
 		<li id="t-tags-edit-<?=$item['id']?>" style="display:none">
 			<div>
 			<input id="t-tags-input-<?=$item['id']?>" value="<?=@join(',',$item['groups'])?>" />
 			<br/><a href="javascript:save_tag('<?=$item['id']?>');void(0);" class="btn btn-primary"><?=__('SAVE')?></a>&nbsp;&nbsp;<a href="javascript:cancel_tag('<?=$item['id']?>');void(0);" class="btn"><?=__('CANCEL')?></a>
 			</div>
 		</li>	
 		<li>
 			<a class="side_link" href="javascript:edit_tag( '<?=$item['id']?>');void(0);" id="t-tags-link-<?=$item['id']?>"><?=__('EDIT_MEMBER_GROUP')?></a>&nbsp;
 		</li>
 		<?php else: ?>
 		<li>&nbsp;</li>
 		<?php endif; ?>


 		<?php do_action( 'UI_BUDDY_ITEM_INFO_LAST' , $item ); ?>
 	</ul>	
 </il>
<?php do_action( 'UI_BUDDY_ITEM_AFTER' , $item ); ?>
