<?php do_action( 'UI_FCOMMENT_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_FCOMMENT_ITEM_FILTER' , $item ); ?>
<li id="cid-<?=$item['id']?>" class="fcomment">
<?php if( ($item['user']['id'] == uid())  ): ?>
	<a class="close pull-right hide"  href="javascript:feed_remove_comment(<?=$item['id']?>);void(0);">&times;</a>
<?php endif; ?>	
	<img class="avatar" src="<?=avatar($item['user']['avatar_small'])?>" /><a uid="<?=$item['uid']?>" href="javascript:void(0);" class="namecard" ><?=$item['user']['name']?></a> <?=link_at(replace_links($item['content']))?>

	<div class="clearfix">
		<?php if( ($item['user']['id'] != uid())  ): ?>
		<div class="pull-right"><a class="bbar_link" href="javascript:$('#fcomment_text').val( $('#fcomment_text').val()+' @<?=$item['user']['name']?> ' );$('#fcomment_text').focus();void(0);"><?=__('REPLY')?></a></div>
		<?php endif; ?>
		<div class="exp_line"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr>  &nbsp; <?=device($item['device']);?></div>
	</div>	
</li>
<?php do_action( 'UI_FCOMMENT_ITEM_AFTER' , $item ); ?>