<?php do_action( 'UI_FEED_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_FEED_ITEM_FILTER' , $item ); ?>
<?php if( $item['type'] == 4 ): ?>
<li class="<?=feed_class($item['type'])?>" fid="<?=$item['id']?>" uid="<?=$item['uid']?>" id="fid-<?=$item['id']?>"  >
<?php if( ($item['uid'] == uid())  ): ?>
	<a class="close pull-right hide"  href="javascript:feed_remove(<?=$item['id']?>);void(0);">&times;</a>
<?php endif; ?>	
<div class="hotarea">
<div class="quote">
	<?=link_at($item['content'])?>
	<div class="via"> &mdash; <img src="<?=avatar($item['user']['avatar_small'])?>" class="avatar"> <a uid="<?=$item['uid']?>"  href="javascript:void(0);" class="namecard"><?=$item['user']['name']?></a> </div>
</div>
<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> &nbsp;<?=device($item['device']);?></span>
	<?php if( intval($item['comment_count']) > 0 ): ?><a class="pull-right ccount" href="javascript:void(0);"><?=__('COMMENT')?>(<span class="cnt ccount"><?=intval($item['comment_count'])?></span>)</a><?php endif; ?>
</div>
</div>



</li>
<?php else: ?>
<li class="<?=feed_class($item['type'])?>" tid="<?=$item['tid']?>" uid="<?=$item['uid']?>" id="fid-<?=$item['id']?>"  >
<?php if( ($item['uid'] == uid())  ): ?>
	<a class="close pull-right hide"  href="javascript:feed_remove(<?=$item['id']?>);void(0);">&times;</a>
<?php endif; ?>	
<div class="hotarea">

	<img src="<?=avatar($item['user']['avatar_small'])?>" class="avatar"> <a uid="<?=$item['uid']?>" href="javascript:void(0);" class="namecard"><?=$item['user']['name']?></a>&nbsp;<?=link_at(noname($item['content'] , $item['user']['name'] ));?> 
	<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> &nbsp;<?=device($item['device']);?></span>
	<?php if( intval($item['comment_count']) > 0 ): ?><a class="pull-right ccount" href="javascript:void(0);"><?=__('COMMENT')?>(<span class="cnt ccount"><?=intval($item['comment_count'])?></span>)</a><?php endif; ?>
	</div>
</div>
</li>
<?php endif; ?>	
<?php do_action( 'UI_FEED_ITEM_AFTER' , $item ); ?>
