<?php do_action( 'UI_TCOMMENT_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_TCOMMENT_ITEM_FILTER' , $item ); ?>
<li id="hid-<?=$item['id']?>" class="history">
<?php if( ($item['user']['id'] == uid()) && ($item['type'] == 2) ): ?>
	<a class="close pull-right hide"  href="javascript:todo_remove_comment(<?=$item['id']?>);">&times;</a>
<?php endif; ?>	
	<img class="avatar" src="<?=avatar($item['user']['avatar_small'])?>" /><a uid="<?=$item['uid']?>" href="javascript:void(0);" class="namecard" ><?=$item['user']['name']?></a> <?=link_at(replace_links($item['content']))?>

	<div class="clearfix">
		<?php if( ($item['user']['id'] != uid()) && ($item['type'] == 2) ): ?>
		<div class="pull-right"><a class="bbar_link" href="javascript:$('#comment_text').val( $('#comment_text').val()+' @<?=$item['user']['name']?> ' );$('#comment_text').focus();void(0);"><?=__('REPLY')?></a></div>
		<?php endif; ?>
		<div class="exp_line"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr>  &nbsp; <?=device($item['device']);?></div>
	</div>

</li>
<?php do_action( 'UI_TCOMMENT_ITEM_AFTER' , $item ); ?>
