<li id="im_box_<?=$item['id']?>" class="clearfix">
	<div class="im_avatar">
    	<img src="<?=avatar($item['avatar_small'])?>" alt="<?=$item['name']?>" class="namecard" uid="<?=$item['id']?>" />&nbsp;<a href="javascript:void(0);" class="namecard" uid="<?=$item['id']?>"><?=$item['name']?></a>
    </div>
	<div class="im_text">
		<div class="im_history">
			
		</div>
		<div class="im_form">
			<div class="im_divider">
				<?php do_action( 'UI_IM_TEXT_TOOLBAR_LIST_BEFORE' ); ?>
				
				<?php if( $item['id'] != uid() ):?>
				<a href="javascript:show_im_all_history('<?=$item['id']?>','<?=$item['name']?>');void(0);" title="聊天记录"><i class="icon-time"></i></a>
				<?php endif; ?>

				<?php do_action( 'UI_IM_TEXT_TOOLBAR_LIST_AFTER' ); ?></div>
			<?php if( $item['id'] == uid() ):?>
				<textarea class="im_form_textarea" disabled="disabled" uid="<?=$item['id']?>" autofocus="autofocus"><?=__('DONOT_CHAT_TO_SELF')?></textarea>
			<?php else: ?>
			<textarea class="im_form_textarea" placeholder="<?=__('CHATBOX_EXPLAIN_TEXT')?>" uid="<?=$item['id']?>" autofocus="autofocus"></textarea>
			<?php endif; ?>
		</div>
	</div>
</li>	