<?php do_action( 'UI_INBOX_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_INBOX_ITEM_FILTER' , $item ); ?>
<?php if( $item['type'] == 1 ): ?>
<li class="todo <?=read_class($item['is_read'])?>" tid="<?=$item['data']['tid']?>" id="nid-<?=$item['id']?>"  >
	<?=link_at($item['content']);?> 
	<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> </span>
	<?php if( intval($item['data']['count']) > 0 ): ?><a class="pull-right ccount" href="javascript:void(0);"><?=__('COMMENT')?>(<span class="cnt"><?=intval($item['data']['count'])?></span>)</a><?php endif; ?>	
	</div>
</li>
<?php elseif( $item['type'] == 2 ): ?>
<li class="cast <?=read_class($item['is_read'])?>" fid="<?=$item['data']['fid']?>" id="nid-<?=$item['id']?>"  >
	<?=link_at($item['content']);?> 
	<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> </span>
<?php if( intval($item['data']['count']) > 0 ): ?><a class="pull-right ccount" href="javascript:void(0);"><?=__('COMMENT')?>(<span class="cnt"><?=intval($item['data']['count'])?></span>)</a><?php endif; ?>
	</div>
</li>
<?php elseif( $item['type'] == 10 ): ?>
<li class="upgrade <?=read_class($item['is_read'])?>"  id="nid-<?=$item['id']?>"  >
	<?=$item['content']?>
	<?php if( isset($item['data']['info']) ): ?>
	<div class="upgrade">
		<?=t($item['data']['info'])?><br/>
		<?php if( is_admin() ): ?><a class="btn btn-primary" href="?c=dashboard&a=upgrade" target="_blank"><?=__('UPGRADE_NOW')?></a><?php endif; ?>
	</div>	
	<?php endif; ?>
	<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> </span></div>
</li>
<?php else: ?>
<li class="normal <?=read_class($item['is_read'])?>"  id="nid-<?=$item['id']?>"  >
	<?=link_at($item['content']);?> 
	<div><span class="time"><abbr title="<?=date("Y-m-d H:i:s" , strtotime($item['timeline']) )?>"><?=rtime($item['timeline'])?></abbr> </span>
<?php if( intval($item['data']['count']) > 0 ): ?><a class="pull-right ccount" href="javascript:void(0);"><?=__('COMMENT')?>(<span class="cnt"><?=intval($item['data']['count'])?></span>)</a><?php endif; ?>
	</div>
</li>
<?php endif; ?>	
<?php do_action( 'UI_INBOX_ITEM_AFTER' , $item ); ?>