<?php do_action( 'UI_TODO_ITEM_BEFORE' , $item ); ?>
<?php $item = apply_filter( 'UI_TODO_ITEM_FILTER' , $item ); ?>
<li class="<?php if( $item['is_public'] == 0 ): ?>red<?php else:?>blue<?php endif; ?> <?php if( $item['status'] == 3 ): ?>finished<?php elseif( $item['status'] == 2 ): ?>ing<?php endif; ?>" id="t-<?=$item['tid']?>" tid="<?=$item['tid']?>">
	<a class="todo_play" tid="<?=$item['tid']?>" title="<?=__('CLICK_TO_START_STOP_TODO')?>"><i class="icon-circle-arrow-right"></i></a>
	<div class="todo_fav" title="<?=__('STAR_TODO')?>" >
		<div class="todo_row" title="<?=$item['content']?>">
			<a class="item" ><?=$item['content']?></a>
		</div>
	</div>
</li>
<?php do_action( 'UI_TODO_ITEM_AFTER' , $item ); ?>

