<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
    <title><?=$top_title . ' | ' . c('site_name') ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="<?=c('favicon')?>" />
    <style type="text/css">
     body 
{
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav 
{
	padding: 9px 0;
}
    </style>
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" >
<?php if( isset($css) && is_array( $css ) ): ?>
        <?php foreach( $css as $cfile ): ?><link rel="stylesheet" type="text/css" href="static/css/<?=$cfile?>">
        <?php endforeach; ?>
<?php endif; ?>

<!--[if lt IE 9]>
      <script src="static/script/html5.js"></script>
<![endif]-->
<!--[if IE 6]>    
    		<link href="static/css/ie6.min.css" rel="stylesheet">
<![endif]-->
   <script src="static/script/jquery.min.js"></script>
   <script src="static/script/jquery.cookie.js"></script>
   <script src="static/script/jquery.i18n.min.js"></script>
   <script src="?c=guest&a=i18n&lang=<?=g('i18n')?>"></script>
   <script src="static/script/bootstrap.min.js"></script>
    <!--[if IE 6]>    
    		 <script src="static/script/ie6.min.js"></script>
	<![endif]-->
    <script src="static/script/app.js"></script>
    
    <?php if( isset($js) && is_array( $js ) ): ?>
        <?php foreach( $js as $jfile ): ?><script type="text/javascript" src="static/script/<?=$jfile;?>" ></script>
        <?php endforeach; ?>
	<?php endif; ?>
</head>    
<body>
 	 <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <?php	
			$tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'main' . DS . g('c') . DS . g('a') . '.tpl.html';
			if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
			else @include( CROOT . $tfile );
			 ?>
        </div><!--/span-->
       
      </div><!--/row-->

    </div><!--/.fluid-container-->
    
    
   
</body>
</html>