<p>TeamToy是为创新团队设计的效率工具，它以【事】为核心，打通了团队每个人的工作，让你可以轻松对其他同事进行评论、求助、点名和广播；借助移动客户端，让你和同事随时随地“在一起”。</p>

<p><span class="label label-info">版本 - <?=local_version()?></span>  <span class="label label-info">官方网站 - <a href="http://teamtoy.org" target="_blank" class="white">TeamToy.org</a></span>   <span class="label label-info">客户支持QQ群 - 166762540</span> </p>


<h3>Staff List</h3>
<div id="teamtoy_staff">
<p>主平台设计、开发 - <a href="http://weibo.com/easy" target="_blank">@Easy</a> </p>

<p>客户支持 - <a href="http://weibo.com/131417999" target="_blank">@欧耶</a></p>

<p><a href="https://github.com/luofei614/teamtoy-board" target="_blank">看板插件 - <a href="http://weibo.com/luofei614" target="_blank">@luofei614</a></p>
<p><a href="http://ttoy-plugin.imlibo.com/" target="_blank">TToy客户端</a> - <a href="http://weibo.com/imlibo" target="_blank">@这是李博</a></p>
<p><a href="https://github.com/easychen/TeamToy-Pocket" target="_blank">TeamToyPocket客户端</a> - <a href="http://weibo.com/easy" target="_blank">@Easy</a></p>
<p>- 感谢您的一路相伴，感谢开源让我们走得更远 -</p>
</div>


