<form action="?c=dashboard&a=update_password" id="password_form">
<div class="input-prepend full">
		<span class="add-on"><i class="icon-key"></i>&nbsp;<?=__('OLD_PASS')?></span>
		<input  name="oldpassword" type="password" placeholder="<?=__('INPUT_OLD_PASS')?>"  >
</div>

<div class="input-prepend full">
		<span class="add-on"><i class="icon-key"></i>&nbsp;<?=__('NEW_PASS')?></span>
		<input  name="newpassword" type="password" placeholder="<?=__('INPUT_NEW_PASS')?>" >
</div>

<div class="input-prepend full">
		<span class="add-on"><i class="icon-key"></i>&nbsp;<?=__('REPEATE_PASS')?></span>
		<input  name="newpassword2" type="password" placeholder="<?=__('REPEATE_PASS_EXPLAIN')?>"  >
</div>


<div class="line"></div>

<div>
	<button class="btn" type="button" onclick="save_password();" ><?=__('UPDATE')?></button>
</div>

</form>	