<form action="?c=dashboard&a=update_profile" id="profile_form">
<div class="input-prepend full">
		<span class="add-on"><i class="icon-user"></i>&nbsp;<?=__('NAME')?></span>
		<input  name="name" type="text" placeholder="<?=__('NAME_INPUT_EXPLAIN')?>" value="<?=$data['name']?>" readOnly="true" >
</div>

<div class="input-prepend full">
		<span class="add-on"><i class="icon-envelope"></i>&nbsp;<?=__('EMAIL')?></span>
		<input  name="email" type="text" placeholder="<?=__('EMAIL_INPUT_EXPLAIN')?>" value="<?=$data['email']?>">
</div>


<div class="input-prepend full">
		<span class="add-on"><i class="icon-phone"></i>&nbsp;<?=__('MOBILE')?></span>
		<input  name="mobile" type="text" placeholder="<?=__('MOBILE_INPUT_EXPLAIN')?>" value="<?=$data['mobile']?>">
</div>


<div class="input-prepend full">
		<span class="add-on"><i class="icon-phone"></i>&nbsp;<?=__('TEL')?></span>
		<input  name="tel" type="text" placeholder="<?=__('TEL_INPUT_EXPLAIN')?>" value="<?=$data['tel']?>">
</div>


<div class="input-prepend full">
		<span class="add-on"><i class="icon-credit-card"></i>&nbsp;<?=__('EMPLOYEE_ID')?></span>
		<input  name="eid" type="text" placeholder="<?=__('EMPLOYEE_ID_INPUT_EXPLAIN')?>" value="<?=$data['eid']?>">
</div>

<div class="input-prepend full">
		<span class="add-on"><i class="icon-twitter"></i>&nbsp;<?=__('WEIBO_ID')?></span>
		<input  name="weibo" type="text" placeholder="<?=__('WEIBO_ID_INPUT_EXPLAIN')?>" value="<?=$data['weibo']?>">
</div>

<div class="input-prepend full">
		<span class="add-on"><i class="icon-asterisk"></i>&nbsp;<?=__('DESP_TEXT')?></span>
		<input  name="desp" type="text" placeholder="<?=__('DESP_TEXT_INPUT_EXPLAIN')?>" value="<?=$data['desp']?>">
</div>


<div class="line"></div>

<div>
	<button class="btn" type="button" onclick="send_form( 'profile_form' , function(data){ profile_updated( data ); } )" ><?=__('UPDATE')?></button>
</div>

</form>	